body{
    background-color: #6D2424;
    background-size: cover;
    margin: 0;
}
header{
    display: flex;
    gap: 50px;
    background-color: #451414;
    padding: 20px 15px 15px 15px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.isi{
    display: grid;
}
.logo{
    border: none;
    outline: none;
    background-color: white;
    border-radius: 25px;
    height: 52px;
    display: flex;
    box-shadow: black 3px 3px 3px;
}
.logo::after{
    content: "Roti Bakar Jaya";
    font-size: 20px;
    color: black;
    margin-top: 12px;
}
.bakar{
    margin-top: 12px;
    display :flex;
    column-gap: 50px;
    text-shadow: 5px 5px 4px #000000;
}
#login{
    margin-left: 68vw;
}
.backgroundroti{
    display: flex;
    column-gap: 15px;
    background-color: #795723;
}
.teks{
    display: grid;
    font-size: 30px;
    color: white;
    gap: 1px;
    text-shadow: 5px 5px 4px #000000;
    

}
.citarasa{
    position: relative;
    color: white;
    font-size: 30px;
    text-shadow: 5px 5px 4px #000000;
}
input{
    border-radius: 50px;
    width: 35vw;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.271)
}
.input{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.search-box{
    width: 600px;
    background-color: #fff;
    margin: 200px auto 0;
    border-radius: 20px;

}
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}
button{
    background: transparent;
    border: 0;
    outline: 0;

}
button .bx{
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;

}
::placeholder {
    color: #555;
}
.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    
    
}
.result-box ul li:hover{
    background: #e9f3ff ;
}
.bakar .mn:hover{
 opacity: 70%;
}
.bakar .ktk:hover{
    opacity: 70%;
}
.teks p{
 font-size: 45px;

}
.citarasa p{
    font-size: 6vh;
    text-shadow: 10px 10px 10px 10px #000000;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 100%;
    border-top: 16px solid #795723;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
  }